<div class="social-container clearfix">
  <ul class="social list-inline pull-{{ include.align }}">
    <li>
      <a onclick="javascript:void window.open('http://www.facebook.com/sharer/sharer.php?u={{site.url}}{{page.url}}&amp;title=Digital Natives is hiring {{ page.title }}','','width=600,height=250,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left='+(screen.width/2 - 300)+',top='+(screen.height/2 - 125)+'');return false;">
        <i class="fa fa-facebook"></i>
      </a>
    </li>
    <li>
      <a onclick="javascript:void window.open('http://twitter.com/intent/tweet?status=Digital Natives is hiring {{ page.title }}+{{site.url}}{{page.url}}','','width=600,height=250,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left='+(screen.width/2 - 300)+',top='+(screen.height/2 - 125)+'');return false;">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a onclick="javascript:void window.open('https://plus.google.com/share?url={{site.url}}{{page.url}}&amp;title=Digital Natives is hiring {{ page.title }}','','width=600,height=250,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=0,left='+(screen.width/2 - 300)+',top='+(screen.height/2 - 125)+'');return false;">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>
  </ul>
</div>
