/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  background: #2b3e50;
  line-height: 1.7;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  color: #777;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 900px;
  }
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
  background: #fff;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

.listi-inline > li {
  padding-left: 10px;
  padding-right: 10px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }

  .jumbotron h1, .jumbotron .h1 {
    font-size: 40px;
  }
}

.jumbotron p {
  font-size: 15px;
}
.jumbotron p img {
  margin-right: 10px;
}

h2, .h2 {
  font-size: 20px;
}

.small-image {
  max-width: 50px;
  max-height: 50px;
}

.job-list {
  margin-top: 35px;
  margin-bottom: 35px;
}

.job-list .media {
  border-bottom: 1px solid rgba(0,0,0,0.05);
}

.job-list .media:last-child {
  border: 0;
}

.social a {
  cursor: pointer;
  color: grey;
  font-size: 20px;
}
